@import '~antd/dist/antd.dark.css';

.content-top-padding {
  padding-top:150px;
}

.centered-text {
  justify-content: center;
}

.no-title-margin {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}