body {
  text-align: center;
  font-size: 20px;
}

button {
  width: 50%;
  height: 60px;
  padding: 10px;

  margin: auto;

  border: solid;
  border-color: #FFFFFF;
  border-width: 1px;
  border-radius: 10px;

  font-size: 25px;
  color: #FFFFFF;
  background: #23272A;
  
  cursor: pointer;
}

button:hover {
  border-color: #ff0000
}

/* ul {
  list-style: none;
  text-align: left;
  padding: 0px;
  background: #171a1f;
  border-radius: 5px;
}

li {
  padding: 15px;
  font-size: 1.5rrem;
  margin-bottom: 15px;
  background: #282c34;
  border-radius: 5px;
  overflow-wrap: break-word;
} */

table {
  width: 100%;
  border-spacing: 0;
  border-color: #40444B
}


.tableHeader { 
  border: 0px solid #40444B;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
  font-size: 40px;
  background-color: #36393F;
}

.addButton {
  border: 0px solid #40444B;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  font-size: 40px;
  background-color: #36393F;
}

tbody {
  display: block;
  border-left: 0px solid #40444B;
  border-right: 0px solid #40444B;
  background-color: #36393F;
}

td {
  padding: 10px;
}

p {
  margin: 5px;
}

.characterButton {
  display: table-cell;
  text-align: center;
  width: 10%;
}

.characterName,
.characterCorporation ,
.characterAlliance {
  text-align: left;
  padding-left: 0.5em;;
  overflow: hidden;
  word-wrap: break-word;
  vertical-align: middle;
}

.characterName {
  font-size: 1.5rem;
  font-weight: bold;
}

.characterAlliance {
  margin-top:0.25rem;
}

.characterPortraitColumn {
  padding-left: 1rem;
  padding-right: 0;
  height: 5rem;
  width: 5rem;
}

.groupImage,
.characterPortrait {
  border-radius:50%;
  height: 100%;
  width: 100%;
}

.groupImage {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  padding-right: 10px;
}

.button {
  height: 50px;
}
