@import '~antd/dist/antd.dark.css';

body {
   /* background-image: url("/background-blur.jpg"); */
   /* background: transparent; */
   height: 100%;
   background-size: cover;
}

.bg {
  background: transparent;
}

.content-top-padding {
  padding-top:150px;
}

.centered-text {
  justify-content: center;
}

.no-title-margin {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.character-name {
  font-weight: bold;
  font-size: 23px;
  color: white;
}